body {
	padding: 6em 4em 4em 4em;
	margin: 0;
}

#over-all {
	position: fixed;
	top: 0;
	left: 0;
	width: 95%;
	height: 100%;
	z-index: 10;
	background-color: white;
	opacity: 0.85;
}

#over-all-text {
	text-align: center;
	vertical-align: middle;
}


#credit {
	font-size: 0.8em;
	float: right;
}
